{% extends 'base.html' %}

{% block content %}
<div class="container text-center my-2">
  <h3>Authors</h3>
  <div class="text-end">
    <a href="{% url 'add_author' %}">
      <button type="button" class="btn bg-success-subtle border border-success rounded-3 text-end fw-bold">
        <i class="bi bi-plus-lg"></i>
      </button>
    </a>
  </div>
</div>

<div class="container" id="authors_list">
  {% for author in page_obj %}
  <div class="row align-items-center my-3 m-0 shadow">
    <div class="col-2 text-start">
      {% if author.image %}
      <img src="{{ author.image.url }}" class="border shadow img-fluid rounded" style="height: 80px; width: auto"
           alt="Author image">
      {% else %}
      <img src="https://s.gr-assets.com/assets/nophoto/user/u_200x266-e183445fd1a1b5cc7075bb1cf7043306.png"
           alt="No image for {{ author.name }}" style="height: 80px; width: auto">
      {% endif %}

    </div>
    <div class="col-md-8 col-sm-10">
      <div class="card border-0">
        <div class="card-body">
          <h6 class="card-title fw-bolder">{{ author.name }}</h6>
          {% if author.bio %}
          <p class="card-text">{{ author.bio|truncatechars:80 }}</p>
          {% else %}
          <p class="text-info">Bio: None</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-12 text-end">
      <a
        class="btn bg-primary-subtle border border-primary rounded-3 pb-1"
        href="{% url 'edit_author' author.id %}"
      >
        <i class="bi bi-pencil"></i>
      </a>
      <form method="POST" action="{% url 'view_authors' %}" style="display: inline-block;">
        {% csrf_token %}
        <button name="delete" class="btn bg-danger-subtle border border-danger rounded-3 pb-1" value="{{ author.id }}">
          <i class="bi bi-trash"></i>
        </button>
      </form>
    </div>
  </div>
  {% endfor %}

  <!-- Pagination Links -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">First</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&lt;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}

      <li class="page-item active">
            <span class="page-link">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
      </li>

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&gt;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Last</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

{% endblock %}
